{% extends 'base.html' %}
{% load static %}

{% block title %}Dictionary{% endblock %}

{% block content %}
    <h2>Shona Dictionary</h2>
    <form id="searchForm" class="mb-4">
        <div class="form-group">
            <input type="text" id="query" class="form-control" placeholder="Enter an English word" required>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Search</button>
    </form>

    <!-- Result div, initially hidden -->
    <div id="result" class="alert alert-info" style="display: none;"></div>

{% endblock %}

<!-- Ensure your JavaScript is loaded at the bottom -->
{% block script %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
