{% extends 'base.html' %}

{% block title %}Terry's Shona Dictionary{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Hero Section -->
    <div class="jumbotron jumbotron-img text-center d-flex align-items-center justify-content-center" style="background-image: url('https://res.cloudinary.com/dtqyltolm/image/upload/v1729377192/shonaDictionaryHeroImage_awuxrm.png'); background-size: cover; height: 60vh; color: white;">
        <div class="welcome-text p-4 text-center">
            <h1 class="display-4 home-text">Welcome to Terry's Shona Dictionary</h1>
            <h2 class="h4 home-text">Your portal for translating English words to Shona.</h2>
            <p class="lead quote-text">Bridging cultures, one word at a time. Discover the beauty of Shona through translation.</p>
            

          <!-- Search for Word Button for Authenticated Users -->
            {% if user.is_authenticated %}
            <form method="POST" action="{% url 'dictionary' %}">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control" name="query" placeholder="Enter English word..." required>
                    <button class="btn btn-primary" type="submit">Search</button>
                    <!-- Add this inside your HTML where the resultDiv is located -->
                    <div id="result" style="display: none;"></div>
                    <button id="printButton" style="display: none;">Print</button>
                </div>
            </form>
            {% else %}
            <!-- <p class="text-prompt">Please <a class="login-prompt" href="{% url 'account_login' %}">login</a> or <a class="register-prompt" href="{% url 'account_signup' %}">register</a> to search for a word in the Shona dictionary.</p> -->
            <a href="{% url 'account_login' %}" class="btn btn-primary btn-lg mt-3">Already a Member?, Login to Search</a>
            <a href="{% url 'account_signup' %}" class="btn btn-secondary btn-lg mt-3">Register to Search</a>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}

