{% extends 'base.html' %}

{% block title %}Home - Shona Dictionary{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Hero Section -->
    <div class="jumbotron jumbotron-img text-center d-flex align-items-center justify-content-center" style="background-image: url('https://res.cloudinary.com/dtqyltolm/image/upload/v1729377192/shonaDictionaryHeroImage_awuxrm.png'); background-size: cover; height: 60vh; color: white;">
        <div class="welcome-text p-4 text-center">
            <h1 class="display-4 home-text">Welcome to the Shona Dictionary</h1>
            <h2 class="h4 home-text">Your portal for translating English words to Shona.</h2>
            <p class="lead quote-text">Bridging cultures, one word at a time. Discover the beauty of Shona through translation.</p>
            <a href="{% url 'login' %}" class="btn btn-primary btn-lg mt-3">Login to Search</a>
        </div>
    </div>
</div>
{% endblock %}
